/* App.css */

.app {
  display: flex;
  flex-direction: column;
  
  margin:0 auto;
  margin-left: 25%;
  margin-right: 30%;
 
 
  padding: 20px;
  width:34.375rem;
  max-height:100%;
  border-radius:5px black;
  background-color: gainsboro;
  border:2px solid black;
}
.safety{
  margin-left: 34%;
}

.stars{
  font-size: 35px;
  cursor:pointer;
  color:gray;
  
  
}
.selected{
  color:rgba(229, 255, 0, 0.833);
  
}

.communication{
  margin-left: 34%;
}
.Trausti{
  margin-left: 32%;
}

.like-dislike-button{
  
  margin-left: 32%;
  cursor: pointer;

}

.trust-button{
  font-size:30px;
  cursor:pointer;
}

.liked{
  color:green;
  color:red;
}

.like{
  color:green;

}

.praise-section{
  margin-left: 32%;
  
  
}
.button{
  cursor: pointer;
}
